Package: mostaqem
Version: 2.1.0
Section: base
Priority: optional
Homepage: https://github.com/Mostaqem/mostaqem_desktop
Architecture: amd64
Depends: mpv, libmpv-dev
Maintainer: Mazen Omar <wildlifemain1@gmail.com>
Description: An Islamic app
